.container
    .jumbotron
        h1 MEAN App 1
        p Lorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum

        .row
            .col-md-6
                div(ng-include="'/partials/main/featured-courses'")
            .col-md-6
                div(ng-include="'/partials/main/new-courses'")